tensorflow==2.16.1
fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9
pillow==10.4.0
numpy==1.26.4
matplotlib==3.9.2
opencv-python-headless==4.10.0.84
scikit-learn==1.5.2
requests==2.32.3
pydantic==2.9.2
streamlit==1.39.0
gradio==4.44.1